<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Dockie, manage dockerfiles">
        <meta name="author" content="imcsk8@sotolitolabs.com">

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- FONT -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
        <!-- CSS -->
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/skeleton/normalize.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/skeleton/skeleton.css">
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
        <!-- Scripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{{ MEDIA_URL }}images/favicon.png">

        <title>DockerFiles :: {% block title %}Main{% endblock %}</title>
    </head>
    <body>
        {% if error %}
        <div class="section error">
          {{ error }}
        </div>
        {% endif %}
        <div class="section top-block">
            <div class="container">
                <div class="row">  
                    <div class="one-third column">
                       <img src="{{ MEDIA_URL }}images/logo_texto.png" alt="">
                    </div>
                    <div class="menu-bar">
                        <a class="button"  href="{% url 'home' %}">home</a>
                        <a class="button" href="{% url 'registry' %}">registry</a>
                        <a class="button" href="{% url 'dockerfiles' %}">Dockerfiles</a>
                        <a class="button" href="{% url 'new' %}">new</a>
                        {% if  dockerfile %}
                        <a class="button" href="{% url 'edit' dockerfile.id %}">edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% block body_block %}{% endblock %}
        </div>

    </body>
</html>


